extends includes/root.pug
block topbar 
  a(href="/" style="font-size: 24px;")= "`larr`"
block content
    .soru
        a(href=soru.url)= soru["İçerik"]
        br
        span #{soru["yazan"]},<em> #{soru.yanitlar.length} cevap </em>
    #yanitla
        - let postUrl = "../yanitla?id=" + soru.id
        form(method="POST" action=postUrl)
            include includes/girdi.pug
    #yanitlar
        for yanit in soru.yanitlar
            .yanit
                p=yanit["İçerik"]
                em=yanit["Yazan"]
    style
        include soru.css
                
